#a_webcam{
    width: 320px !important;
    height: 320px !important;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: white !important;
    border-radius: .5em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5px !important;
    overflow: hidden;
}

#a_image{
    width: 100% !important;
    max-height: 100% !important; 
    box-sizing: border-box;
    height: 100% !important;
}

.blinking{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}