  
<section class="oe_container">    
    <div class="alert alert-warning">
        Warning! WEBCAM MAY ONLY WORKS WITH HTTPS CONNECTIONS. your Odoo instance must be set up in https mode.
        If your Odoo instance is not HTTPS encrypted it will show a notification for the users.<br/>
        -- HTTPS is recommended --.
    </div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Attendance Webcam Image -  Attendance Photo</h2>
		<div>
            <p style="text-align: center;">
                This module helps you to capture the employees photo while check in / check and kiosk mode from Employee Attendance.
            </p>
        </div>
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Installation</h4>
        <div class="oe_span12">
            <p><strong>- Copy titan_face_recognition module to addons folder</strong></p>
            <p><strong>- Install the module normally like other modules</strong></p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Features</h4>
        <div class="oe_span12">
            <ul>
                <li> Capture the Employees Attendance  Photoe while Check in / Check out</li>
                <li> Capture the Employees Attendance Photo on Kiosk Mode.</li>
            </ul>
            
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">1. User Configuration</h4>        
        <div class="oe_span12">
            <p>User Menu -> Attendance Webcam Image</p>
            <br/>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="1.png">
            </div>
            <br/>

            <br/>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="2.png">
            </div>
            <br/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">2. Attendance</h4>        
        <div class="oe_span12">
            <p>Attendances -> Check in / Check Out</p>
            <br/>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="3.png">
            </div>
            <br/>

            <p>Attendances -> Form View</p>
            <br/>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="4.png">
            </div>
            <br/>

            <p>Attendances -> Kiosk Mode.</p>
            <br/>
            <div class="oe_row_img  oe_screenshot oe_centered">
                <img style="border:10px solid white; width: 100% !important" src="5.png">
            </div>
            <br/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
        <h3 class="oe_slogan" style="color: #7c7bad;font-size:35px;font-weight:bolder;">Help and Support</h3>
        <div class="oe_slogan">
            <a class="btn btn-primary btn-lg mt8" href="mailto:cfinfosolutions@gmail.com">
                <i class="fa fa-envelope"></i> Email 
            </a> 
            <a class="btn btn-primary btn-lg mt8" href="http://www.cfis.store/">
                <i class="fa fa-phone"></i> Contact Us 
            </a>

            <a class="btn btn-primary btn-lg mt8"  href="http://www.cfis.store/">
                <i class="fa fa-check-square"></i> Request Customization </a>
        </div>        
</section>
